.TopBar {
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0;
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.314);
}

.TopLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopCenter {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.TopCenterList {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.TopCenterItem {
    cursor: pointer;
    font-size: 18px;
}

.topIcon {
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}
.searchIcon{
    font-size: 20px;
    cursor: pointer;
}