.Blogs{
    flex: 3;
}

.modalTitle{
    align-items: center;
    text-align: center;
}
.FAB{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border-color: rgb(236, 60, 60);
    border-width: 0.1px;
    background-color: rgb(236, 60, 60);
}
.ContainerFab{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px
}
.submitButton{
    height: 50px;
    width: 100px;
    border-radius: 10px;
}